<!doctype html>
<html>
  <head>
    <title>Logged in page <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Logged in page <%=shopData.shopName%></h1>
    <p><%=loginResult%></p>
  </body>
</html>